h1 {
  color: purple;
}
button {
  border: 3px solid #400e32;
  color: #400e32;
  background-color: #f2cd5c;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f2921d;
}
.theme {
  background-color: #400E32;
  color: white;
}
